@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* 輸入 GOOGLE FONTS----------------- */
.black00 {
  color: #FFFFFF;
}

.black20 {
  color: #F2F2F2;
}

.black40 {
  color: #D1D1D1;
}

.black60 {
  color: #919191;
}

.black80 {
  color: #525252;
}

.black100 {
  color: #020202;
}

/* 文字設定----------------- */
.bold900 {
  font-weight: 900;
}

.bold700 {
  font-weight: 700;
}

.bold400 {
  font-weight: 400;
}

.h3-slogan {
  margin-bottom: 12px;
}

.fs-120 {
  font-size: 120px;
}

.fs-80 {
  font-size: 80px;
}

.fs-48 {
  font-size: 48px;
}

.fs-32 {
  font-size: 32px;
}

.fs-20 {
  font-size: 20px;
}

.fs-16 {
  font-size: 16px;
}

.fs-14 {
  font-size: 14px;
}

/* 行高設定 */
.lh-150 {
  line-height: 150%;
}

.lh-120 {
  line-height: 120%;
}

/* 按鈕 & 超連結 */
.start-button {
  background-color: black;
  border: 1px solid #FFFFFF;
  border-radius: 16px;
  color: #FFFFFF;
}

.nond {
  text-decoration: none;
}

a:hover {
  color: inherit;
}

/* 間距 */
.mb-160 {
  margin-bottom: 160px;
}

.mb-24 {
  margin-bottom: 24px;
}

.mb-12 {
  margin-bottom: 12px;
}

.mb-8 {
  margin-bottom: 8px;
}

.gap-24 {
  gap: 24px;
}

/* 共同架構 */
body {
  background-color: #020202;
  font-family: "Noto Sans TC", sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.wrap {
  max-width: 1326px;
  padding: 0 15px;
  margin: 0 auto;
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  max-width: 100%;
  padding: 0;
}

/******* HEADER SECTION------
----------------- *******/
/* HEADER 表頭-上 */
.header {
  padding: 20px 0;
  border-bottom: 1px solid #FFFFFF;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .logo {
  display: block;
  width: 245px;
  height: 40px;
  background-image: url(image/logo.png);
  background-size: cover;
  text-indent: 101%;
  white-space: nowrap;
  overflow: hidden;
}
.header .navbar-btn {
  cursor: pointer;
  /* 改變滑鼠形狀 */
  display: none;
  /* 在電腦版時不顯示 */
  background-color: transparent;
  border: 0;
}
.header .navbar-btn:hover {
  transform: scale(1.1);
}
.header .navbar-menu {
  display: flex;
  gap: 20px;
}
.header .navbar-menua {
  padding: 12px 0;
  margin-left: 20px;
}

/* HEADER 表頭-下 */
.header-body {
  /* HEADER>服務卡 */
}
.header-body .header-slogan {
  margin: 40px 0;
}
.header-body button {
  margin-bottom: 100px;
}
.header-body .start-button a {
  display: block;
  padding: 20px 40px;
}
.header-body .deco {
  margin-left: auto;
  display: flex;
  justify-content: end;
}
.header-body .deco img {
  width: 180px;
  height: 180px;
  display: block;
}

/****** RWD 992--------
----------------- *******/
@media (max-width: 992px) {
  .break-line-rwd992 {
    display: inline-block;
  }
}
/****** RWD 768--------
----------------- *******/
@media (max-width: 767.98px) {
  /*  HEADER SECTION  */
  .header-section {
    margin-bottom: 120px;
    /*  HEADER 表頭-上  */
  }
  .header-section .header {
    padding: 28px 0;
  }
  .header-section .header .logo {
    width: 147px;
    height: 24px;
  }
  .header-section .header .navbar-btn {
    display: block;
  }
  .header-section .header .navbar-menu {
    display: none;
  }
  /*  HEADER 表頭-下  */
  .header-body .header-slogan {
    font-size: 48px;
  }
  .header-body .break-line-rwd992 {
    display: inline-block;
  }
  .header-body button {
    margin-bottom: 180px;
  }
  .header-body .deco img {
    width: 117px;
    height: auto;
  }
}
/****** RWD 576--------
----------------- *******/
@media (max-width: 575.98px) {
  .header-body .break-line-rwd376 {
    display: block;
  }
  .header-body .deco img {
    width: 33.3333333333%;
  }
}
/********* SERVICE SECTION------
----------------- *******/
/* SERVICE SLOGAN */
.service {
  display: flex;
  justify-content: space-between;
  margin-bottom: 80px;
}
.service p {
  width: 856px;
}
.service .break-line-rwdwindows {
  display: block;
}

/* SERVICE CARD */
.service-card {
  margin-right: 0;
  margin-left: 0;
}
.service-card .sc-info {
  padding: 80px 40px;
  border: 1px solid #525252;
  border-radius: 16px;
}
.service-card .material-icons {
  font-size: 80px;
}
.service-card p {
  margin: 20px 0;
}

/****** RWD 1200--------
----------------- *******/
@media (max-width: 1199.98px) {
  .service {
    flex-direction: column;
  }
  .service .h2-slogan {
    margin-bottom: 24px;
  }
  .service .break-line-rwd1200 {
    display: block;
  }
  .service p {
    width: 100%;
  }
}
/****** RWD 768--------
----------------- *******/
@media (max-width: 767.98px) {
  .service-section {
    margin-bottom: 120px;
  }
  .service .h2-slogan {
    font-size: 20px;
  }
  .service p {
    font-size: 32px;
  }
  .service .break-line-rwdwindows {
    display: inline;
  }
  /*  SERVICE CARD  */
  .service-card {
    flex-direction: column;
  }
  .service-card .sc-info {
    padding: 40px 20px;
  }
}
/****** RWD 576--------
----------------- *******/
@media (max-width: 575.98px) {
  .service-section .service p {
    font-size: 32px;
  }
}
/******* ENTERPRISE SECTION------
----------------- *******/
/* ENTERPRISE LOGO */
.enterprise-logo {
  margin-top: 80px;
  position: relative;
  /* ENTERPRISE LOGO>遮罩 */
  /* ENTERPRISE LOGO>LOGO */
}
.enterprise-logo::after, .enterprise-logo::before {
  content: "";
  position: absolute;
  width: 196px;
  height: 100px;
  top: 0;
}
.enterprise-logo::before {
  left: 0;
  background: linear-gradient(to right, rgb(0, 0, 0), rgba(0, 0, 0, 0));
}
.enterprise-logo::after {
  right: 0;
  background: linear-gradient(to left, rgb(0, 0, 0), rgba(0, 0, 0, 0));
}
.enterprise-logo ul {
  display: flex;
  gap: 20px;
  justify-content: center;
  overflow-x: scroll;
  /* 讓 Logo 能水平滾動 */
  margin-bottom: 20px;
  /* 隱藏 廠商 logo 的 x 軸 */
  /* Hide scrollbar for Chrome, Safari and Opera */
  /* Hide scrollbar for IE, Edge and Firefox */
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}
.enterprise-logo ul::-webkit-scrollbar {
  display: none;
}
.enterprise-logo .e-logo {
  width: 160px;
  height: 40px;
  display: block;
  /* 消除 logo 圖下方空白 */
  text-indent: 101%;
  overflow: hidden;
  white-space: nowrap;
  background-size: cover;
  background-repeat: no-repeat;
}
.enterprise-logo .logo01 {
  background-image: url(image/enterprise.png);
  width: 100px;
}
.enterprise-logo .logo02 {
  background-image: url(image/enterprise1.png);
}
.enterprise-logo .logo03 {
  background-image: url(image/enterprise2.png);
}
.enterprise-logo .logo04 {
  background-image: url(image/enterprise3.png);
}
.enterprise-logo .logo05 {
  background-image: url(image/enterprise4.png);
}
.enterprise-logo .logo06 {
  background-image: url(image/enterprise5.png);
}
.enterprise-logo .logo07 {
  background-image: url(image/enterprise6.png);
}
.enterprise-logo .logo08 {
  background-image: url(image/enterprise7.png);
}
.enterprise-logo .logo09 {
  background-image: url(image/enterprise8.png);
}
.enterprise-logo .logo10 {
  background-image: url(image/enterprise9.png);
}
.enterprise-logo .logo11 {
  background-image: url(image/enterprise11.png);
}
.enterprise-logo .logo12 {
  background-image: url(image/enterprise12.png);
}

/* ENTERPRISE RECOMMEND */
.recommend {
  margin: 160px 0;
}
.recommend .recommend-card {
  height: 400px;
  background-color: RGB(255, 255, 255, 0.08);
  border-radius: 16px;
  padding: 40px;
  display: flex;
  flex-direction: column;
  /* RECOMMEND>推薦人 */
}
.recommend .recommend-card .recommend-stars {
  display: flex;
  gap: 4px;
  margin-bottom: 22px;
}
.recommend .recommend-card .recommend-text {
  flex-grow: 1;
  text-align: justify;
}
.recommend .recommend-card .recommender {
  display: flex;
  align-items: center;
  height: 49px;
}
.recommend .recommend-card .recommender-photo {
  width: 48px;
  height: 48px;
  display: block;
  margin-right: 16px;
}

/* ENTERPRISE RECOMMEND SWIPER 設定*/
.swiper {
  padding-bottom: 36px;
  /*  因為 swiper 本身有 overflow:hidden;，導致 pagination 如果超出範圍會被隱藏，所以下推 36px（pagination 本身 12px + 希望距離 24px）  */
}
.swiper .swiper-pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 0;
  /*  緊貼 swiper 底部即可  */
}
.swiper .swiper-pagination-bullet {
  /*  pagination 預設樣式  */
  background: #525252;
}
.swiper .swiper-pagination-bullet-active {
  /*  pagination 被點擊樣式  */
  height: 12px;
  width: 12px;
  background: #FFFFFF;
}

/****** RWD 1200--------
----------------- *******/
@media (max-width: 1199.98px) {
  /*  ENTERPRISE SECTION  */
  .recommend {
    margin: 48px 0 24px 0;
  }
}
/****** RWD 768--------
----------------- *******/
@media (max-width: 767.98px) {
  .enterprise-section {
    margin-bottom: 120px;
  }
  .enterprise-section .h2-slogan {
    font-size: 20px;
  }
  .enterprise-section .rwd-hide-w768 {
    display: none; /*  隱藏第二排廠商 logo  */
  }
  .h2-slogan {
    margin-bottom: 76px;
  }
  /*  廠商 ENTERPRISE LOGO  */
  .enterprise-logo {
    margin-top: 0;
    /*  ENTERPRISE LOGO>遮罩  */
  }
  .enterprise-logo::after, .enterprise-logo::before {
    width: 83px;
    height: 40px;
  }
}
/****** PRODUCT SECTION --------
----------------- *******/
.product-section {
  width: 100%;
  border-radius: 160px;
  background-color: #FFFFFF;
  padding: 160px 15px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.product-contain {
  max-width: 1296px;
}

/* PRODUCT SLOGAN */
.product-slogan {
  margin: 0 auto;
  margin-bottom: 80px;
  text-align: center;
}

/* PRODUCT 搜尋 BAR */
.input {
  position: relative;
  margin-bottom: 24px;
}
.input .material-icons {
  margin-right: 12px;
  position: absolute;
  left: 40px;
  top: 20px;
}
.input .searchbar {
  width: 100%;
  height: 64px;
  padding: 20px 40px 20px 76px;
  border-radius: 16px;
  background-color: #F2F2F2;
  border: 0 none;
  outline: none;
}
.input .searchbar:-internal-autofill-previewed, .input .searchbar:-internal-autofill-selected {
  -webkit-text-fill-color: #919191;
  transition: background-color 5000s ease-out 0.5s;
}

/* PRODUCT 篩選器 */
.select {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* 篩選按鈕 */
  /* 分類按鈕 */
  /* 新到舊按鈕菜單 */
}
.select .select-btn {
  padding: 20px 32px;
  border-radius: 16px;
  border: 1px solid #F2F2F2;
  background-color: #FFFFFF;
}
.select .select-btn:hover {
  border-color: #000000;
}
.select .select-btn .material-icons {
  font-size: 16px;
  margin-left: 12px;
}
.select .select-list {
  display: flex;
  justify-content: space-between;
  gap: 8px;
}
.select .select-list button {
  padding: 8px 16px;
  border-radius: 16px;
  background-color: #FFFFFF;
  text-align: center;
  /* 讓文字在 RWD 時換行也能保持中間位置 */
  border: 0;
  font-size: 16px;
  font-weight: 400;
}
.select .select-list button.active, .select .select-list button:hover {
  font-weight: 700;
  color: #020202;
  background-color: #F2F2F2;
}
.select .select-old-new {
  position: relative;
}
.select .select-old-new .dropdown-menu {
  position: absolute;
  right: 0;
  display: none;
  margin-top: 4px;
  background-color: white;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
  padding: 20px 0;
  border-radius: 16px;
  white-space: nowrap;
  /* 避免 RWD 時換行 */
}
.select .select-old-new .dropdown-menu a {
  padding: 4px 40px;
}
.select .select-old-new .dropdown-menu a:hover {
  background-color: #F2F2F2;
}
.select .select-old-new .dropdown-menu.show {
  display: block;
}

/* PRODUCT 產品列表 */
.product {
  margin-top: 40px;
  margin-bottom: 40px;
  gap: 1.5rem 0;
  /* 產品列表>內部卡片*/
  /* 產品內部卡片─圖片區----------------- */
  /* 產品內部卡片>抽屜區----------------- */
}
.product .product-card {
  border-radius: 16px;
  border: 1pt solid #F2F2F2;
  display: flex;
  flex-direction: column;
  height: 558px;
  overflow: hidden;
  /* 隱藏圖片上方超出卡片圓角的部分 */
}
.product .product-cover {
  height: auto;
  overflow: hidden;
  display: flex;
  /* 讓 cover 內的圖片保持在中央 */
  align-items: center;
  justify-content: center;
}
.product .product-img {
  display: block;
  transition: all 0.3s ease-in-out;
}
.product .product-img:hover {
  transform: scale(1.2);
}
.product .drawer1 {
  padding: 20px 32px;
  flex-grow: 1;
  /* 讓 drawer1 空間有延展的餘裕 */
}
.product .drawer2 {
  padding: 20px 32px;
  border-top: 1px solid #F2F2F2;
}
.product .drawer-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 64px;
}

/* PRODUCT 頁碼 */
.page {
  display: flex;
  justify-content: end;
  gap: 4px;
}
.page button {
  display: block;
  width: 48px;
  height: 48px;
  background-color: white;
  border: 0;
  border-radius: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.page button:hover {
  border: 1px solid #020202;
}
.page button:active {
  color: #F2F2F2;
  background-color: #020202;
}
.page .default {
  background-color: #020202;
}
.page .material-icons {
  font-size: 5px;
}

/****** RWD 1400--------
----------------- *******/
@media (max-width: 1399.98px) {
  .break-line-rwd1400 {
    display: block;
  }
}
/****** RWD 1200--------
----------------- *******/
@media (max-width: 1199.98px) {
  .product-section {
    border-radius: 16px;
  }
}
/****** RWD 992--------
----------------- *******/
/****** RWD 768--------
----------------- *******/
@media (max-width: 767.98px) {
  .product-section {
    padding: 80px 10px 80px 12px;
  }
  .product-contain {
    width: 100%;
  }
  /* PRODUCT SLOGAN */
  .product-slogan {
    font-size: 32px;
    margin-bottom: 32px;
  }
  .select {
    flex-wrap: wrap;
    gap: 16px;
    /*  分類按鈕  */
  }
  .select .select-list {
    order: 2;
    overflow-x: scroll;
    /* 隱藏 分類按鈕 的 x 軸 */
    /* Hide scrollbar for Chrome, Safari and Opera */
    /* Hide scrollbar for IE, Edge and Firefox */
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
  }
  .select .select-list::-webkit-scrollbar {
    display: none;
  }
  .select .select-list {
    justify-content: center;
    flex-grow: 1;
  }
  .select .select-list button {
    white-space: nowrap;
  }
  /*  產品列表  */
  .product {
    margin-top: 48px;
    margin-bottom: 32px;
  }
}
/****** RWD 576--------
----------------- *******/
@media (max-width: 575.98px) {
  .product-section {
    overflow: hidden;
  }
  .product-contain {
    width: 100%;
  }
  /* PRODUCT SLOGAN */
  .product-slogan {
    font-size: 32px;
    margin-bottom: 32px;
  }
  /*  篩選器  */
  .select .select-list {
    justify-content: start;
  }
  /* 產品列表 */
  .product {
    flex-direction: column;
    gap: 0.75rem 0;
  }
  .product .product-card {
    width: 100%;
  }
  .product .product-img {
    width: 100%;
    height: auto;
  }
}
/****** RWD 375--------
----------------- *******/
@media (max-width: 374.98px) {
  .product .product-cover {
    height: 312px;
  }
  .product .product-img {
    height: 100%;
    width: auto;
  }
  .product img {
    max-width: none;
  }
}
/****** FOOTER SECTION --------
----------------- *******/
/* FOOTER SLOGAN & START */
.build-service {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
  margin: 160px 0;
}
.build-service a {
  padding: 20px 32px;
  display: flex;
  gap: 12px;
}

/* FOOTER-上 */
.footer-top {
  padding: 80px 0;
  border-top: 1px solid #FFFFFF;
  display: flex;
  justify-content: space-between;
}
.footer-top .logo {
  display: block;
  width: 245px;
  height: 40px;
  background-image: url(image/logo.png);
  background-size: cover;
  text-indent: 101%;
  white-space: nowrap;
  overflow: hidden;
}
.footer-top .footer-menu {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

/* FOOTER-下 */
.footer-buttom {
  border-top: 1px solid #FFFFFF;
  padding: 20px 0;
  display: flex;
  gap: 20px;
}
.footer-buttom .copyright {
  margin-right: 100px;
  padding: 12px 0;
}
.footer-buttom ul {
  display: flex;
  gap: 20px;
}
.footer-buttom a {
  display: block;
  padding: 12px 0;
}
.footer-buttom .scrollToTop {
  background-color: #020202;
  color: #FFFFFF;
  border: 0 none;
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 12px 0;
  margin-left: auto;
}
.footer-buttom .scrollToTop:hover {
  cursor: pointer;
}

/****** RWD 768--------
----------------- *******/
@media (max-width: 767.98px) {
  /*  SLOGAN & START  */
  .build-service div {
    font-size: 32px;
  }
  /*  FOOTER-上  */
  .footer-top {
    flex-direction: column;
  }
  .footer-top .footer-menu a {
    font-size: 48px;
  }
  .footer-top .logo {
    order: -1;
    margin-bottom: 40px;
  }
  /* FOOTER-下 */
  .footer-buttom {
    flex-wrap: wrap;
    gap: 12px;
  }
  .footer-buttom .copyright {
    margin-right: 0;
  }
}
/****** RWD 576--------
----------------- *******/
@media (max-width: 575.98px) {
  .build-service div {
    text-align: center;
  }
  .break-line-rwd576 {
    display: block;
  }
  /* FOOTER-下 */
  .footer-buttom ul {
    order: 2;
  }
}/*# sourceMappingURL=all.css.map */