/******* ENTERPRISE SECTION------
----------------- *******/
/* ENTERPRISE LOGO */
.enterprise-logo {
  margin-top: 80px;
  position: relative;

  /* ENTERPRISE LOGO>遮罩 */
  &::after,
  &::before {
    content: "";
    position: absolute;
    width: 196px;
    height: 100px;
    top: 0;
  }

  &::before {
    left: 0;
    background: linear-gradient(to right, rgb(0, 0, 0, 1), rgb(0, 0, 0, 0));
  }

  &::after {
    right: 0;
    background: linear-gradient(to left, rgb(0, 0, 0, 1), rgb(0, 0, 0, 0));
  }

  /* ENTERPRISE LOGO>LOGO */
  ul {
    display: flex;
    gap: 20px;
    justify-content: center;
    overflow-x: scroll;
    /* 讓 Logo 能水平滾動 */
    margin-bottom: 20px;

    /* 隱藏 廠商 logo 的 x 軸 */
    /* Hide scrollbar for Chrome, Safari and Opera */
    &::-webkit-scrollbar {
      display: none;
    }

    /* Hide scrollbar for IE, Edge and Firefox */
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
  }

  .e-logo {
    width: 160px;
    height: 40px;
    display: block;
    /* 消除 logo 圖下方空白 */
    text-indent: 101%;
    overflow: hidden;
    white-space: nowrap;
    background-size: cover;
    background-repeat: no-repeat;
  }

  .logo01 {
    background-image: url(../image/enterprise.png);
    width: 100px; // 原始圖檔尺寸不同，所以特別做設定      
  }
  
  .logo02 {
    background-image: url(../image/enterprise1.png);
  }

  .logo03 {
    background-image: url(../image/enterprise2.png);
  }

  .logo04 {
    background-image: url(../image/enterprise3.png);
  }

  .logo05 {
    background-image: url(../image/enterprise4.png);
  }

  .logo06 {
    background-image: url(../image/enterprise5.png);
  }

  .logo07 {
    background-image: url(../image/enterprise6.png);
  }

  .logo08 {
    background-image: url(../image/enterprise7.png);
  }

  .logo09 {
    background-image: url(../image/enterprise8.png);
  }

  .logo10 {
    background-image: url(../image/enterprise9.png);
  }

  .logo11 {
    background-image: url(../image/enterprise11.png);
  }

  .logo12 {
    background-image: url(../image/enterprise12.png);
  }
}

/* ENTERPRISE RECOMMEND */
.recommend {
  margin: 160px 0;

  .recommend-card {
    height: 400px;
    background-color: RGB(255, 255, 255, 0.08);
    border-radius: 16px;
    padding: 40px;
    display: flex;
    flex-direction: column;

    .recommend-stars {
      display: flex;
      gap: 4px;
      margin-bottom: 22px;
    }

    .recommend-text {
      flex-grow: 1;
      text-align: justify;
    }

    /* RECOMMEND>推薦人 */
    .recommender {
      display: flex;
      align-items: center;
      height: 49px;
    }

    .recommender-photo {
      width: 48px;
      height: 48px;
      display: block;
      margin-right: 16px;
    }
  }
}

/* ENTERPRISE RECOMMEND SWIPER 設定*/
.swiper {
  padding-bottom: 36px;
  /*  因為 swiper 本身有 overflow:hidden;，導致 pagination 如果超出範圍會被隱藏，所以下推 36px（pagination 本身 12px + 希望距離 24px）  */

  // SWIPER 頁碼 pagination
  .swiper-pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 0;
    /*  緊貼 swiper 底部即可  */

    &-bullet {
      /*  pagination 預設樣式  */
      background: $black80;
    }

    &-bullet-active {
      /*  pagination 被點擊樣式  */
      height: 12px;
      width: 12px;
      background: $black00;
    }
  }
}


/****** RWD 1200--------
----------------- *******/
@media (max-width: 1199.98px) {

  /*  ENTERPRISE SECTION  */
  .recommend {
    margin: 48px 0 24px 0;
  }
}



/****** RWD 768--------
----------------- *******/
@media (max-width: 767.98px) {
  .enterprise-section {
    margin-bottom: 120px;

    .h2-slogan {
      font-size: 20px;
    }
    
    .rwd-hide-w768 {
      display: none; /*  隱藏第二排廠商 logo  */
    }    
  }

  .h2-slogan {
    margin-bottom: 76px;
  }

  /*  廠商 ENTERPRISE LOGO  */
  .enterprise-logo {
    margin-top: 0;

    /*  ENTERPRISE LOGO>遮罩  */
    &::after,
    &::before {
      width: 83px;
      height: 40px;
    }
  }  
}
