/****** FOOTER SECTION --------
----------------- *******/
/* FOOTER SLOGAN & START */
.build_service {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
  margin: 160px 0;

  a {
    padding: 20px 32px;
    display: flex;
    gap: 12px;
  }
}

/* FOOTER_上 */
.footer_top {
  padding: 80px 0;
  border-top: 1px solid $black00;
  display: flex;
  justify-content: space-between;

  .logo {
    display: block;
    width: 245px;
    height: 40px;
    background-image: url(https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/2023web-camp/logo.png);
    background-size: cover;
    text-indent: 101%;
    white-space: nowrap;
    overflow: hidden;
  }

  .footer_menu {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }
}

/* FOOTER_下 */
.footer_buttom {
  border-top: 1px solid $black00;
  padding: 20px 0;
  display: flex;
  gap: 20px;

  .copyright {
    margin-right: 100px;
    padding: 12px 0;
  }

  ul {
    display: flex;
    gap: 20px;
  }

  a {
    display: block;
    padding: 12px 0;
  }

  .scrollToTop {
    background-color: $black100;
    color: $black00;
    border: 0 none;
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 12px 0;
    margin-left: auto;

    &:hover {
      cursor: pointer; //改變游標樣式
    }
  }
}


/****** RWD 768--------
----------------- *******/
@media (max-width: 767.98px) {

  /*  SLOGAN & START  */
  .build_service div {
    font-size: 32px;
  }

  /*  FOOTER_上  */
  .footer_top {
    flex-direction: column;

    .footer_menu a {
      font-size: 48px;
    }

    .logo {
      order: -1;
      margin-bottom: 40px;
    }
  }

  /* FOOTER_下 */
  .footer_buttom {
    flex-wrap: wrap;
    gap: 12px;

    .copyright {
      margin-right: 0;
    }
  }
}

/****** RWD 576--------
----------------- *******/
@media (max-width: 575.98px) {
  .build_service div {
    text-align: center;
  }

  .break_line_rwd576{
    display: block;
  }

  /* FOOTER_下 */
  .footer_buttom ul {
    order: 2;
  }
}