/****** FOOTER SECTION --------
----------------- *******/
/* FOOTER SLOGAN & START */
.build-service {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
  margin: 160px 0;

  a {
    padding: 20px 32px;
    display: flex;
    gap: 12px;
  }
}

/* FOOTER-上 */
.footer-top {
  padding: 80px 0;
  border-top: 1px solid $black00;
  display: flex;
  justify-content: space-between;

  .logo {
    display: block;
    width: 245px;
    height: 40px;
    background-image: url(image/logo.png);
    background-size: cover;
    text-indent: 101%;
    white-space: nowrap;
    overflow: hidden;
  }

  .footer-menu {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }
}

/* FOOTER-下 */
.footer-buttom {
  border-top: 1px solid $black00;
  padding: 20px 0;
  display: flex;
  gap: 20px;

  .copyright {
    margin-right: 100px;
    padding: 12px 0;
  }

  ul {
    display: flex;
    gap: 20px;
  }

  a {
    display: block;
    padding: 12px 0;
  }

  .scrollToTop {
    background-color: $black100;
    color: $black00;
    border: 0 none;
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 12px 0;
    margin-left: auto;

    &:hover {
      cursor: pointer; //改變游標樣式
    }
  }
}


/****** RWD 768--------
----------------- *******/
@media (max-width: 767.98px) {

  /*  SLOGAN & START  */
  .build-service div {
    font-size: 32px;
  }

  /*  FOOTER-上  */
  .footer-top {
    flex-direction: column;

    .footer-menu a {
      font-size: 48px;
    }

    .logo {
      order: -1;
      margin-bottom: 40px;
    }
  }

  /* FOOTER-下 */
  .footer-buttom {
    flex-wrap: wrap;
    gap: 12px;

    .copyright {
      margin-right: 0;
    }
  }
}

/****** RWD 576--------
----------------- *******/
@media (max-width: 575.98px) {
  .build-service div {
    text-align: center;
  }

  .break-line-rwd576{
    display: block;
  }

  /* FOOTER-下 */
  .footer-buttom ul {
    order: 2;
  }
}