/******* HEADER SECTION------
----------------- *******/
/* HEADER 表頭-上 */
.header {
  padding: 20px 0;
  border-bottom: 1px solid $black00;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .logo {
    display: block;
    width: 245px;
    height: 40px;
    background-image: url(../image/logo.png);
    background-size: cover;
    text-indent: 101%;
    white-space: nowrap;
    overflow: hidden;
  }

  .navbar-btn {
    cursor: pointer;
    /* 改變滑鼠形狀 */
    display: none;
    /* 在電腦版時不顯示 */
    background-color: transparent;
    border: 0;

    &:hover {
      transform: scale(1.1);
    }
  }

  .navbar-menu {
    display: flex;
    gap: 20px;

    &a {
      padding: 12px 0;
      margin-left: 20px;
    }
  }

}

/* HEADER 表頭-下 */

.header-slogan {
  margin: 40px 0;
}

.header-body button {
  margin-bottom: 100px;
}

.header-body .start-button a {
  display: block;
  padding: 20px 40px;
}

/* HEADER>服務卡 */
.header-body .deco {
  margin-left: auto;
  display: flex;
  justify-content: end;

  img {
    width: 180px;
    height: 180px;
    display: block;
  }
}



/****** RWD 992--------
----------------- *******/
@media (max-width: 992px) {
  .break-line-rwd992 {
    display: inline-block;
  }
}


/****** RWD 768--------
----------------- *******/
@media (max-width: 767.98px) {

  /*  HEADER SECTION  */
  .header-section {
    margin-bottom: 120px;

    /*  HEADER 表頭-上  */
    .header {
      padding: 28px 0;

      .logo {
        width: 147px;
        height: 24px;
      }

      .navbar-btn {
        display: block;
      }

      .navbar-menu {
        display: none;
      }
    }
  }

  /*  HEADER 表頭-下  */
  .header-body {
    .header-slogan {
      font-size: 48px;
    }

    .break-line-rwd992 {
      display: inline-block;
    }

    button {
      margin-bottom: 180px;
    }

    .deco img {
      width: 117px;
      height: auto;
    }
  }
}


/****** RWD 576--------
----------------- *******/
@media (max-width: 575.98px) {
  .header-body {
    .break-line-rwd376 {
      display: block;
    }

    .deco img {
      width: calc(100% / 3);
    }
  }
}