// <<樣式設定>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
/* 輸入 GOOGLE FONTS----------------- */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC&display=swap');

// 顏色
$black100: #020202;
$black80: #525252;
$black60: #919191;
$black40: #D1D1D1;
$black20: #F2F2F2;
$black00: #FFFFFF;

.black-00 {
    color: $black00;
}

.black-20 {
    color: $black20;
}

.black-40 {
    color: $black40;
}

.black-60 {
    color: $black60;
}

.black-80 {
    color: $black80;
}

.black-100 {
    color: $black100;
}



/* 文字設定----------------- */
.fw-900 {
    font-weight: 900;
}

.fw-700 {
    font-weight: 700;
}

.fw-400 {
    font-weight: 400;
}

.h3-slogan {
    margin-bottom: 12px;
}

.fs-120 {
    font-size: 120px;
}

.fs-80 {
    font-size: 80px;
}

.fs-48 {
    font-size: 48px;
}

.fs-32 {
    font-size: 32px;
}

.fs-20 {
    font-size: 20px;
}

.fs-16 {
    font-size: 16px;
}

.fs-14 {
    font-size: 14px;
}



/* 行高設定 */
.lh-150 {
    line-height: 150%;
}

.lh-120 {
    line-height: 120%;
}

/* 按鈕 & 超連結 */
.start-button {
    background-color: black;
    border: 1px solid $black00;
    border-radius: 16px;
    color:$black00;
}

.nond {
    text-decoration: none;
}

a:hover{
    color:inherit;
}


/* 間距 */
.mb-160{
    margin-bottom: 160px;
}

.mb-24{
    margin-bottom: 24px;
}

.mb-12{
    margin-bottom: 12px;
}

.mb-8 {
    margin-bottom: 8px;
}

.gap-24{
    gap:24px;
}


/* 共同架構 */
body {
    background-color: $black100;
    font-family: "Noto Sans TC", sans-serif;
}

// *,
// *::before,
// *::after {
//     box-sizing: border-box;
//     // outline: 1px solid salmon;
// }

.wrap {
    max-width: 1326px;
    padding: 0 15px;
    margin: 0 auto;
}

img{
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}

.container{
    max-width: 100%;
    padding: 0;
}